<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Rajat welcome's you to the Bot Demo!!!</h2>
    <h3>Hope you like it!!</h3>
    <p><i>P.S. - Don't forget to clap if you like this.</i></p>
</body>
</html>
